{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Memory</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nodeid</th>
                <td>{{ entity.nodeid }}</td>
            </tr>
            <tr>
                <th>Ctime</th>
                <td>{{ entity.ctime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Load</th>
                <td>{{ entity.load }}</td>
            </tr>
            <tr>
                <th>Memused</th>
                <td>{{ entity.memUsed }}</td>
            </tr>
            <tr>
                <th>Memshare</th>
                <td>{{ entity.memShare }}</td>
            </tr>
            <tr>
                <th>Memcached</th>
                <td>{{ entity.memCached }}</td>
            </tr>
            <tr>
                <th>Membuffer</th>
                <td>{{ entity.memBuffer }}</td>
            </tr>
            <tr>
                <th>Memfree</th>
                <td>{{ entity.memFree }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('memory') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('memory_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
