{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Disk list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nodeid</th>
                <th>Ctime</th>
                <th>Mountpoint</th>
                <th>Used</th>
                <th>Iused</th>
                <th>Dev</th>
                <th>Avail</th>
                <th>Total</th>
                <th>Ifree</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('disk_show', { 'id': entity.id }) }}">{{ entity.nodeid }}</a></td>
                <td>{% if entity.ctime %}{{ entity.ctime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.mountPoint }}</td>
                <td>{{ entity.used }}</td>
                <td>{{ entity.iused }}</td>
                <td>{{ entity.dev }}</td>
                <td>{{ entity.avail }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.ifree }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('disk_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('disk_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('disk_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
